#App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#quote-box {
  width: 50rem;
  height: auto;
}

#author {
  display: block;
  text-align: right;
}
